@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

  /* Ocultar barra de rolagem no Chrome, Safari e outros navegadores baseados no WebKit */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Ocultar barra de rolagem para navegadores Firefox */
  .no-scrollbar {
    scrollbar-width: none; /* Para Firefox */
  }
